<div class="sign-in-center">
  <h1 class="sign-in-logo">VsMe Gaming</h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :user_name, :autofocus => true, placeholder: "user name" %>
    <%= f.email_field :email, placeholder: "email address" %>
    <%= f.password_field :password, placeholder: "password" %>
    <%= f.password_field :password_confirmation, placeholder: "confirm password" %>

    <p>By clicking the Sign Up button you acknowledge our terms of service</p>
    <p>You can only play on touch-enabled mobile devices</p>
    <p>Tap in the direction that you want the snake to turn!</p>

    <%= f.submit "Sign up", class: "btn-main" %>

  <% end %>

  <%= render "devise/shared/links" %>
</div>
