<div data-no-turbolink>
  <%= link_to "Play Game", new_game_path, class: "btn" %>
  <%= link_to "Leader Board", root_path, class: "btn pull-right" %>
  <h4>Credits: <%= current_user.credits %></h4>
  <h4>Wins: <%= current_user.wins %></h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Outcome</th>
      <th>Opponent</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.outcome(current_user) %></td>
      <td><%= game.opponent(current_user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

