<div class='hidden'>
  <%= form_for @game do |f| %>
    <%= f.number_field :score %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

<div class="sign-in-center">
    <button id='start' class="btn-main">Play Snake!</button>
    <p>The beta has ended as of March 14, 2014 midnight EST. Games will no longer be recorded. Thank you to all who participated!</p>
</div>

<div class="game">
  <div class='score-div'><span id='score'></span></div>
  <canvas id='canvas'></canvas>
  <table class='hud-group'>
    <tr>
      <td><div class='time-div'><!--<i class='icon-time'></i><br>--><span id='time'>0:00</span></div></td>
      <td><div class='user-div'><!--<i class='icon-user'></i><br>--><%= current_user.user_name %></div></td>
      <td><div class='credits-div'><!--<i class='icon-tags'></i><br>--><%= current_user.high_score %></div></td>
    </tr>
  </table>
</div>
