<div class='hidden'>
  <%= form_for @game do |f| %>
    <%= f.number_field :score %>
    <%= f.submit "Submit", class: "btn" %>
  <% end %>
</div>

<style>

  #score-div {

  }

  #canvas {
  max-width: 400px;
  min-width: 225px;
  width: 100%;
  }

  .hud-group {
  margin: auto;
  max-width: 400px;
  min-width: 225px;
  width: 100%;
  }

  .hud-group td {
  overflow: hidden;
  padding: 0;
  text-align: center;
  }

  #time-div, #user-div, #credits-div {
  padding: 8px 4px;
  }

  #time-div {
  background-color: #09c;
  }

  #user-div {
  background-color: #f60;
  }

  #credits-div {
  background-color: #0c9;
  }

</style>

<div class="sign-in-center">
  <% if current_user.credits <= 0 %>
    <h4>No Credits<h4>
  <% else %>
    <button id='start' class="btn">Play Snake!</button>
  <% end %>
</div>

<div class="game">
  <div id='score-div'><span id='score'></span></div>
  <canvas id='canvas'></canvas>
  <table class='hud-group'>
    <tr>
      <td><div id='time-div'><span class='glyphicon glyphicon-time'></span><br><span id='time'>0:00</span></div></td>
      <td><div id='user-div'><span class='glyphicon glyphicon-user'></span><br><%= current_user.email %></div></td>
      <td><div id='credits-div'><span class='glyphicon glyphicon-usd'></span><br><%= current_user.credits %></div></td>
    </tr>
  </table>
</div>
